main {
    text-align: center;
}

#records-table{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 	border-collapse: collapse;
  	width: 60%;
  	margin: 0 20%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

#records-table tr:nth-child(even){
	background-color: #f2f2f2;
}

#records-table th{
	padding-top: 12px;
  	padding-bottom: 12px;
  	text-align: left;
  	background-color: #4CAF50;
  	color: white;
}

table {
  border-collapse: collapse;
}